<%= include layoutTop %>
  
  	<h1><%= header %></h1>
  	
  	<%= include localCam %>

	<%= include remoteStreams %>

	<script>
		client = new PeerManager();
		vm = new RTCViewModel(client, "/streams/<%- id %>");
		vm.refresh();
		setInterval(vm.refresh, 1000);
		ko.applyBindings(vm);

		<% if(!!id) { %>
			vm.startPrivateCall("<%- id %>");
		<% } %>
	</script>
	
<%= include layoutBottom %>