<%= include layoutTop %>
  
  	<h1><%= header %></h1>
  	<h2>Hello <%= user %></h2>
  	
  	<%= include localCam %>

	<%= include remoteStreams %>

	<script>
		client = new PeerManager();
		vm = new RTCViewModel(client, "/streams/");
		vm.refresh();
		ko.applyBindings(vm);

		<% if(!!id) { %>
			vm.startDirectCall("<%- id %>");
		<% } %>
	</script>
	
<%= include layoutBottom %>